#main-content.span10
  #main-content-container
    - Kategoria.all.each do |kategoria|
      .category-piece-container
        .category-piece
          %h3
            %a{ href: "" }
              = kategoria.nazwa
          - kategoria.pod_kategorias.order("liczba_firm DESC").limit(5).each do |podkategoria|
            %span.sub-category
              %a{ href: "" }
                = podkategoria.nazwa
